*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#container-fluid{
    width: 100%;
    background-color: rgb(36, 36, 46);
    height: 80px;
    
}
#header_ul{
    list-style: none;

}
#header_ul li{
    
    display: inline-block;
    padding-right: 30px;
    font-size: 18px;
    line-height: 80px;
color:#6cb2eb;
    font-weight: 800;

}
#header_btn:hover{
    cursor: pointer;
}
#header_btn{
 text-decoration: none;
}
#header_tag{
    color: #6cb2eb;
    line-height: 80px;
}
#signup_mdiv{
    /* width: 300px; */
    margin-top: 30px;
    border:1px solid #6c757d; 
    padding: 20px 30px;

    border-radius: 2px;
}
#form_heading{
    font-size: 20px;
    color: rgb(15, 15, 46);
}
#create_account_btn{
    width: 100%;
}
.active{
    color:white;
}
#validationErrorSpan{
    height:30px;
    background-color: rgb(23, 87, 206);
    font-size: 15px;
    color: cornsilk;
    padding: 6px;
    border-radius: 3px;
    margin-right: 6px;
    margin-top: 5px;
    

}